<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles/main.css')}}">
    <title>Document</title>
</head>
<body>
    <div class="header">
        <h2>Carpentry Service Orders</h2>
        <div class="btns">
            <a href="/carp_services/schedule">Schedule</a>
            <a href="/carp_services/zones">Zones</a>
            <a href="/carp_services/updates">Updates</a>
            <a href="/carp_services/account">Account</a> 
            <a href="/carp_services/main">Main</a> 
        </div>
    </div>
    <div class="container">
        <div class="sidebox">
            <strong>Welcome, {{ user.first_name }}</strong>
            <a href="/carp_services/new_order">Place Order</a>
            <a href="/carp_services/logout">Log Out</a>
        </div>
        <div class="col1">
            <h3>Upcoming Service</h3>
            {% for o in orders %}
            <span>{{ o.order_type }}</span>
            <span>{{ o.order_date }}</span>
            {% endfor %}
        </div>
        <div class="col2">
            <h3>Recent Updates</h3>
            {% for u in updates %}
            <span>{{ u.update_desc }}</span>
            {% endfor %}
        </div>
    </div>
</body>
</html>