* {
    padding: 0px;
    margin: 0px auto;
}

body {
    margin-top: 24px;
    padding: 0% 10%;
    display: flex;
    flex-direction: column;
    font-size: larger;
}
.cont {
    display: flex;
    padding-top: 12px;
    margin: 12px;
    justify-content: space-around;
    padding: 32px 0px;
}

.map {
    padding: 12px;
    align-self: center;
}